<html>
<head>
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/css/uikit.min.css" />


</head>
<body>
<div uk-grid>

<div class="uk-container">
<table class="uk-table uk-table-striped">
    <thead>
        <tr>

            <th>UUID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Position History</th>
            <th>Push token</th>
        </tr>
    </thead>
    <tbody>
    {{#userList }}
    <tr>
                <td>{{username}}</td>
                <td>{{type}}</td>
                <td><pre>#{{id}}</pre></td>
                <td>
                    <ul>
                    {{#positionHistory}}
                    <li>{{date}} @ {{position}}</li>
                    {{/positionHistory}}
                     </ul>
                </td>
                <td>{{pushToken}}</td>
    </tr>
    {{/userList}}
    </tbody>
</table>
<ul>

</ul>
</div>
<div class="uk
</div>
<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit-icons.min.js"></script>
</body>
</html>
